* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    border: 1px solid black;
    width: 580px;
    height: 580px;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
}

.box {
    border: 1px solid black;
}

.hovered {
    background-color: black;
}

.btns-container {
    display: flex;
    flex-direction: row;
}

